.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__group-name
        = @group.name
      %ul.chat-main__group-info__left-box__member-list
        Member :
        - @group.users.each do |user|
          %li.chat-main__group-info__left-box__member-list__member
            = user.name

    .chat-main__group-info__edit-btn
      =link_to edit_group_path(@group.id) do
        Edit

  .chat-main__message-list
    =  render partial: 'message', collection: @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .form_box
        = f.text_field :content, class: 'form_box-text', placeholder: 'type a message'
        = f.label :image, class: 'form_box-image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'form_box-image__file'
      = f.submit 'Send', class: 'submit-btn'




